details
  border-radius: 5px
  background-color: rgba(0.15, 0.15, 0.25, 0.1)
  padding: 15px 15px

summary
  cursor: pointer
  font-size: 120%

details:hover, details[open]
  background-color: rgba(0.25, 0.15, 0.25, 0.2)
